# This buildout is used for development of Products.SimpleUserFolder.
# It gets the necessary eggs and creates a test runner and a python
# interpreter.

# To set up an environment suitable for doing development work on
# Products.SimpleUserFolder, do the following:
# 
# python bootstrap.py 
# bin/buildout

# Tests can be run with:
#
# bin/test

# A python environment with Products.SimpleUserFolder available can be started using:
#
# bin/py

[buildout]
develop = .
parts = test py docs
extends =  http://download.zope.org/Zope2/index/2.12.7/versions.cfg

[py]
recipe = zc.recipe.egg
eggs = Products.SimpleUserFolder 
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = Products.SimpleUserFolder[test]

[docs]
recipe = zc.recipe.egg
eggs =  
  Products.SimpleUserFolder
  sphinx
  sphinx-pypi-upload
  zc.rst2
  pkginfo
interpreter = docpy
